
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>
                    Github Check in
                </td>
                <td>
                    For Github Test
                </td>
                <td>
                    Aditya
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
